

<!--parallax 1 -->
<section class="bg-1 text-center">
 <div class="homecarousel-text-1-opbg">
  <h1>Quality Assurance Testing when you need it.</h1>
  <p class="lead">We do it all in the world of Quality Assurance. We tailor all of our services to your company's needs.</p>
 </div>
</section>

<!--/parallax 1-->
<div class="devices-parallax-img">
 <%=image_tag "devices-img.png" %>
  </div>

<div class="divider"></div>

<div class="container"> 
  
  	<div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>IRON PACKAGE</h3></div>
            <div class="panel-body">Price: $
            </div>
            
          </div>
        </div>
      	<div class="col-md-4">
        	<div class="panel panel-default">
            <div class="panel-heading"><h3>GOLD PACKAGE</h3></div>
            <div class="panel-body">Price: $
            </div>
            
          </div>
        </div>
      	<div class="col-md-4">
        	<div class="panel panel-default">
            <div class="panel-heading"><h3>DIAMOND PACKAGE</h3></div>
            <div class="panel-body">Price: $
            </div>
            
          </div>
        </div>
    </div><!--/row-->
  
   
  
</div><!--/container-->

<div class="divider"></div>
  
<section class="bg-2">
 <div class="col-sm-10 col-sm-offset-1 text-center">
    <h1>What's the quality beat of your organization?</h1>
    <p class="lead">Content</p>
 </div>
</section>

<div class="divider"></div>

<div class="container">
  
  	<div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>Hello.</h3></div>
            <div class="panel-body">Some text here
            </div>
            
          </div>
        </div>
      	<div class="col-md-4">
        	<div class="panel panel-default">
            <div class="panel-heading"><h3>Hello.</h3></div>
            <div class="panel-body">Some text here
            </div>
            
          </div>
        </div>
      	<div class="col-md-4">
        	<div class="panel panel-default">
            <div class="panel-heading"><h3>Hello.</h3></div>
            <div class="panel-body">Some text here
            </div>
            
          </div>
        </div>
    </div>  
</div><!--/container-->

<div class="divider"></div>

<!--parallax 2 -->
<section class="bg-3 text-center">
  <h1>QA Evangelist</h1>
  <p class="lead">Content</p>
</section>



<!-- carousel -->

<div id = "homecarousel" class="carousel slide">
	<ol class = "carousel-indicators">
		<li data-target = "#homecarousel" data-slide-to = "0" class = "active"></li>
		<li data-target = "#homecarousel" data-slide-to = "1"></li>
		<li data-target = "#homecarousel" data-slide-to = "2"></li>
	</ol>
<div class = "carousel-inner">
 <div class = "item active">
  <%=image_tag "desk-items.jpg" %>
   <div class = "carousel-caption">
   	<div class="homecarousel-text-opbg">
	 <h3>Quality is and should be everywhere</h3>
	 <p>Personal and business</p>
    </div>
  </div>
</div>

<div class = "item">
	 <!--<img src = "#" alt = "..." class = "img-responsive">-->
 <%=image_tag "mac-lit-bg.jpg" %>
  <div class = "carousel-caption">
   <div class="homecarousel-text-opbg">
	<h3>Reduce manual testing</h3>
	<p>Save time and gain confidence</p>
  </div>
 </div>
</div>
	
<div class = "item">
 <%=image_tag "browsers-bg.jpg" %>
  <div class = "carousel-caption">
   <div class="homecarousel-text-opbg">
	 <h3>Support all browsers</h3>
	 <p>even when you don't want to upgrade:)</p>
   </div> 
  </div>
 </div>
</div>
	<a class = "carousel-control left" href = "#homecarousel" data-slide = "prev">
		<span class = "icon-prev"></span>
			</a>
	<a class = "carousel-control right" href = "#homecarousel" data-slide = "next">
		<span class = "icon-next"></span>
			</a>
</div>



<!--
	<h1 class="banner-content-top homecarousel-text-opbg">What's the beat of your organization? Quality should be present in all areas of your company, not just testing.</h1>

  	   <h2 class="banner-content-bottom homecarousel-text-opbg" >Quality in a company is like instruments in a band.  Every instrument must play it's part for the band and music to be successful.  The same goes for quality in a company.  Every team member must be accountable and quality must be present in all phases of the SDLC for a company to be truly successful and one that can sustain in this fast paced industry.</h2>

 -->
  	   <div class="home-nav-margin">
  	 	<!--<%=image_tag "qabeat-qat.jpg" %></div>-->
</div>

<!--
   <h1>We do it all in the world of Quality Assurance.  <br>We tailor all of our services to your company's needs.</h1>
    <h2 class="home-h2-text-border" style="margin-left:200px;">From on-demand quality assurance testing, to consulting, to qa culture, we'll change the way you think about quality assurance. Check out all of our services and contact us today!</h2>
     <h1>Quality Assurance Testing (QAT) on demand. <br>Testing when you need it.</h1>
      <h2 class="home-h2-text-border" style="margin-left:200px;">Both onsite and remote options available. There are NO limitations to our testing; software, hardware, all is welcomed.  We have our specific testing frameworks we use, but we can also easily adapt to your company's frameworks; both commercial and proprietary.</h2>
-->

<!--
 <div class="center hero-unit pricing-banner">
  <div class="container">
   <div class="row">
	<div class = "col-sm-4">
     <div class = "marketing-plan iron-plan">
      <h2 class = "marketing-item-banner marketing-banner-h2-text-border">IRON PACKAGE</h2>
       <div class="iron-marketing-package-details-border">
	  	 	<u>PRICE: $</u>
	  	 	<li>10 hours</li>
	  		<li>Manual testing</li>
			<li>Testing artifacts & Bug tracking</li>
			<li>All latest browsers</li>
			<li>Select mobile devices</li>
	 </div>		
  <a href="/qat_on_demand/qatondemand#"><button class="btn btn-large btn-primary" type="button">Learn more</button></a>
 </div>
</div>

<div class="col-sm-4">
 <div class = "marketing-plan gold-plan">
   <h2 class = "marketing-item-banner marketing-banner-h2-text-border">GOLD PACKAGE</h2> 
-->

    <!--<div class = "ribbon">BEST VALUE!</div>-->
 <!--    <div class="gold-marketing-package-details-border">
		    <u>PRICE: $</u>
			<li>10 hours free, 40 hours</li>
			<li>QA consulting</li>
			<li>Manual & Automated testing</li>
			<li>Testing artifacts & Bug tracking</li>
			<li>All latest browsers</li>
			<li>Select mobile devices</li>
     </div>
  <a href="/qat_on_demand/qatondemand#"><button class="btn btn-large btn-primary" type="button">Learn more</button></a>
 </div>
</div>

<div class="col-sm-4">
 <div class = "marketing-plan diamond-plan">
  <h2 class = "marketing-item-banner marketing-banner-h2-text-border">DIAMOND PACKAGE</h2>
   <div class="diamond-marketing-package-details-border">
	  		<u>PRICE: $</u>
	  		<li>80 hours</li>
	  		<li>QA consulting</li>
	  		<li>Reports</li> 
	  		<li>Testing artifacts & Bug tracking</li>
			<li>Manual & automated testing</li>
			<li>Security testing</li>
			<li>Load & performance</li>
			<li>All specified browsers</li>
			<li>All specified mobile devices</li>
   </div>
  <a href="/qat_on_demand/qatondemand#"><button class="btn btn-large btn-primary" type="button">Learn more</button></a>
 </div>
</div>

<!--
<div class = "col-sm-4">
 <div class = "marketing-plan custom-plan">
   <h2 class = "marketing-item-banner marketing-banner-h2-text-border">CUSTOM PACKAGE</h2>
   <div class="custom-marketing-package-details-border">
   	Whether it's consulting, testing, or just automation, we have a plan for you. Contact us and set up a meeting so we can discuss all available options to meet your needs.
   </div>  	
  <a href="/qat_on_demand/qatondemand#"><button class="btn btn-large btn-primary" type="button">Contact Us</button></a>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
-->


<!--Coding video-->
<!--
<div class="container">
	<div class="content" style="top: 255px; -webkit-transform: translate(0px, 0px); opacity: 1;"><h2 style="opacity: 1; padding-top: 0px;">Test</h2><p style="opacity: 1; padding-top: 0px;"><span>What's the Quality of your code?</span></p>
	</div>
</div>
 Coding animation 
<div class="video-texture " style="opacity: 1;"> 
 </div>
  <div class="mobile-video-image" style="background-image: url(http://themenectar.com/demo/salient/wp-content/uploads/2013/09/code-design-bg.jpg)">   
   </div>
<div class="video-wrap" style="width: 1284px; height: 582px;">
<video class="slider-video" width="1700" height="700" preload="auto" loop="" autoplay="" style="visibility: visible; width: 1284px; height: 724px;"><source type="video/webm" src="http://themenectar.com/demo/salient/wp-content/uploads/2013/09/coding.webm"><source type="video/mp4" src="http://themenectar.com/demo/salient/wp-content/uploads/2013/09/coding.mp4"></video>
  </div>
 </div>
</div>
-->

<script type="text/javascript">
/* jQuery Parallax Plugin */
 
(function($) {
 
    $.fn.parallax = function(options) {
 
        var windowHeight = $(window).height();
 
        // Establish default settings
        var settings = $.extend({
            speed        : 0.15
        }, options);
 
        // Iterate over each object in collection
        return this.each( function() {
 
        	// Save a reference to the element
        	var $this = $(this);
 
        	// Set up Scroll Handler
        	$(document).scroll(function(){
 
    		        var scrollTop = $(window).scrollTop();
            	        var offset = $this.offset().top;
            	        var height = $this.outerHeight();
 
    		// Check if above or below viewport
			if (offset + height <= scrollTop || offset >= scrollTop + windowHeight) {
				return;
			}
 
			var yBgPosition = Math.round((offset - scrollTop) * settings.speed);
 
                 // Apply the Y Background Position to Set the Parallax Effect
    			$this.css('background-position', 'center ' + yBgPosition + 'px');
                
        	});
        });
    }
}(jQuery));

$('.bg-1,.bg-3').parallax({
	speed :	0.35
});

$('.bg-2').parallax({
	speed :	0.25
});
</script>

