<!DOCTYPE html>
<html>
<head>
  <title>QAT OnDemand</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
 <body>
    <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "brand", '/', class: "brand-logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><a href="/blog_page/blog#" style="font-weight:bold;color:#909090;">Blog</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <%= yield %>

<!--Home button; image link-->

<div id="footer">
  <ul id="footer_menu">
    <li class="homeButton"><a href="/"><%=image_tag "home-button.png" %></a></li>

    <!--QA Culture button-->

    <li><a href="#">QA Culture</a>
      <div class="one_column_layout">
        <div class="col_1">
          <a class="headerLinks">QA Evolve</a><br>
          <a class="listLinks">Placeholder </a><br>
          <a class="headerLinks">QA is in everything</a><br>
          <!--<a class="listLinks" style="font-weight:bold;color:white;">Test</a><br>-->
          <a class="listLinks">Business</a>
          <a class="listLinks">Personal</a>
          <a class="listLinks">SDLC</a>
        </div>
      </div>
    </li>

    <!--About button-->
    <li><a href="#">About</a>
      <div class="three_column_layout">

        <div class="col_3">
          <h2>About me</h2>
        </div>

          <div class="clear"></div>

        <div class="col_1">
          <p>Placeholder 1</p>
        </div>
        <div class="col_1">
          <p>Placeholder 2</p>
        </div>
        <div class="col_1">
          <p>Placeholder 3</p>
        </div>

          <div class="clear"></div>

        <div class="col_1">
          <p class="black-box">Placeholder 4</p>
        </div>
        <div class="col_1">
          <p>Placeholder 5</p>
        </div>
        <div class="col_1">
          <p>Placeholder 6</p>
        </div>

          <div class="clear"></div>

        <div class="col_3">
          <h2>My Profile</h2>
        </div>

          <div class="clear"></div>

        <div class="col_3">
          <p>
            <img src="#" class="img_left whiteBorder" />
            <a style="display:inline;font-weight:bold;color:white;">Doug Dykstra</a><br>
            <a href="#">Read more...</a>
          </p>
        </div>
      </div>

      <!--Need to create 2 column layout-->

    </li>

    <!--Services button-->
    <li>
      <a href="#">Services</a>
      <ul class="dropup">
        <li><a href="#">QA Consulting</a></li>
        <li><a href="#">QA OnDemand</a></li>
        <li><a href="#">Automation</a></li>
        <li><a href="#">Security</a></li>
      </ul>
    </li>

    <!--Logout button-->
    
    <li class="right"><a href="#">QAT</a></li>
</ul>

  <!--Notification inluding popup on the last notification-->

<ul id="notifications">
  <li><a href="#" class="notificationIcons"><%=image_tag "email-button.png" %></li>
  <li><a href="https://www.facebook.com/qatondemand" class="notificationIcons"><%=image_tag "fb-thumb.png" %></li>
  <li><a href="http://twitter.com/qatondemand" class="notificationIcons"><%=image_tag "twitter-button.png" %>
      <span>
        <img src="#" style="float:left; width:24px; margin-right:5px;" />
        <div style="display:inline; color: white">Doug Fresh liked your post : My name is DFresh</div> 
        <hr style="border:none; border-bottom:1px solid #777777;" />

        <img src="#" style="float:left; width:24px; margin-right:5px;" />
        <div style="display:inline; color: white">Doug Fresh liked your post : My name is Pete</div> 
        <hr style="border:none; border-bottom:1px solid #777777;" />

        <img src="#" style="float:left; width:24px; margin-right:5px;" />
        <div style="display:inline; color: #white">Doug Fresh liked your post : My name is Michael</div> 
        
      </span>
    </a>
  </li>
  </ul>
 </div>

  </body>
</html>
