<!DOCTYPE html>
<html>
<head>
  <title>QAT OnDemand</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>

  <!-- include javascript, jQuery FIRST -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

<header class="navbar navbar-fixed-top">
 <nav class="navbar navbar-default navbar-style" role="navigation">
  <div class="container-fluid">
  
   <!-- Brand and toggle get grouped for better mobile display -->
  
   <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
       <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <%= link_to image_tag("brand-logo.png"), '/', class: "brand-logo" %>
   </div>
   
    <!-- Collect the nav links, forms, and other content for toggling -->
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     <ul class="nav navbar-nav navbar-right">  
        <li><a href="/qat_on_demand/qatondemand#">QAT On Demand</a></li>    
        <li><a href="/qa_consulting/qaconsulting#">QA Consulting</a></li> 
        <li><a href="/qa_evangelist/qaevangelist#">QA Evangelist & Culture</a></li>
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Automation <b class="caret"></b></a>
            <ul class="dropdown-menu navbar-style">
                  <li><a href="/automation/automation#">Web and Mobile</a></li>
                  <li class="divider"></li>
                  <li><a href="/load_performance/loadperformance#">Load and Performance</a></li>
            </ul>
          </li>
                  <li class="navbar-style"><a href="/security/security#">Security</a></li>
                  <li class="navbar-style"><a href="/websites/websites#">Need a website</a></li>
          <!--<li class="navbar-style"><a href="/blog_page/blog#">Blog</a></li>-->
       </li>
      </ul>
     </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
   </nav>
 </header>
<%= yield %>

<!--Home button; image link-->

<div id="footer">
  <ul id="footer_menu">
    <li class="homeButton"><a href="/"><%=image_tag "home-button.png" %></a></li>

    <!--QA Culture button-->

    <li><a href="#">QA Culture</a>
      <div class="one_column_layout">
        <div class="col_1">
          <a class="headerLinks">QA Evolve</a><br>
          <a class="listLinks">Placeholder </a><br>
          <a class="headerLinks">QA is in everything</a><br>
          <!--<a class="listLinks" style="font-weight:bold;color:white;">Test</a><br>-->
          <a class="listLinks">Business</a>
          <a class="listLinks">Personal</a>
          <a class="listLinks">SDLC</a>
        </div>
      </div>
    </li>

    <!--About button-->
    <li><a href="#">Owner & CEO</a>
      <div class="three_column_layout">

        <div class="col_3">
          <h2>About me</h2>
        </div>

          <div class="clear"></div>

        <div class="col_1">
          <p>Placeholder 1</p>
        </div>
        <div class="col_1">
          <p>Placeholder 2</p>
        </div>
        <div class="col_1">
          <p>Placeholder 3</p>
        </div>

          <div class="clear"></div>

        <div class="col_1">
          <p class="black-box">Placeholder 4</p>
        </div>
        <div class="col_1">
          <p>Placeholder 5</p>
        </div>
        <div class="col_1">
          <p>Placeholder 6</p>
        </div>

          <div class="clear"></div>

        <div class="col_3">
          <h2>My Profile</h2>
        </div>

          <div class="clear"></div>

        <div class="col_3">
          <p>
            <div class="img-left whiteborder"> <%=image_tag "aboutme-pic.png" %> 
            </div>
            <div style="display:inline;font-weight:bold;color:white;">Doug Dykstra - (813)-486-7071
           </div> 
          </p>
        </div>
      </div>

      <!--Need to create 2 column layout-->

    </li>

    <!--Services button-->
    <li>
      <a href="#">Placeholder</a>
      <ul class="dropup">
        <li><a href="#">Section 1</a></li>
        <li><a href="#">Section 2</a></li>
        <li><a href="#">Section 3</a></li>
        <li><a href="#">Section 4</a></li>
      </ul>
    </li>

    <!--Logout button-->
    
    <li class="right"><a href="#">QAT=CAT</a></li>
</ul>

  <!--Notification inluding popup on the last notification-->

<ul id="notifications">
  <li><a href="mailto:qatondemand@gmail.com?Subject=QAT%20information%20request" target="_top" class="notificationIcons"><%=image_tag "email-button.png" %></li>
  <li><a href="https://www.facebook.com/qatondemand" target="_blank" class="notificationIcons"><%=image_tag "fb-thumb.png" %></li>
  <li><a href="http://twitter.com/qatondemand" target="_blank" class="notificationIcons"><%=image_tag "twitter-button.png" %>
      <span>
        <img src="#" style="float:left; width:24px; margin-right:5px;" />
        <div style="display:inline; color: white">Doug Fresh liked your post : My name is DFresh</div> 
        <hr style="border:none; border-bottom:1px solid #777777;" />

        <img src="#" style="float:left; width:24px; margin-right:5px;" />
        <div style="display:inline; color: white">Doug Fresh liked your post : My name is Pete</div> 
        <hr style="border:none; border-bottom:1px solid #777777;" />

        <img src="#" style="float:left; width:24px; margin-right:5px;" />
        <div style="display:inline; color: #white">Doug Fresh liked your post : My name is Michael</div> 
        
      </span>
    </a>
  </li>
  </ul>
 </div>

  </body>
</html>
